<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @user.rg %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @user.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @user.phone2 %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @user.kind %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @user.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @user.zone %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @user.occupation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
